link(href='/public/css/styles.css', rel='stylesheet')
 
doctype html
html
    head
        title=titre
        style.
            body::before {
                width:0;
                height:0;
            }
            body{
                overflow-y:initial;
            }
        script.
            if (#{user.etape_actuelle}==10){
                setTimeout(function(){ window.location.replace("/signature"); }, 3000);
            }
    body
        .template_header.template_header_avancement
            img(src="/public/img/logo.jpg")
            .container-avancement
                if user.etape_actuelle == 1
                    img(src="/public/img/0pourcent.jpg")
                else if user.etape_actuelle == 8
                    img(src="/public/img/11pourcent.jpg")
                else if user.etape_actuelle == 9
                    img(src="/public/img/88pourcent.jpg")
                else if user.etape_actuelle == 10
                    img(src="/public/img/100pourcent.jpg")
        block content
            .top-container_avancement.top-container
                .container
                    each etape in etapes
                        if user.etape_actuelle == 1 && etape.id === 1
                            a(href="/etape/1")
                                .etape-item-clicable.etape-item
                                    p=etape.id
                                    .titre=etape.titre
                        else if user.etape_actuelle === 8 && etape.id===2
                            a(href="/avancement/9")
                                .etape-item-clicable.etape-item
                                    p=etape.id
                                    .titre=etape.titre
                        else if user.etape_actuelle === 9 && etape.id===9
                            a(href="/etape/9")
                                .etape-item-clicable.etape-item
                                    p=etape.id
                                    .titre=etape.titre
                        else
                            if user.etape_actuelle == 8
                                if etape.id <= 2
                                    .etape-item.etape-item-done
                                        p=etape.id
                                        .titre=etape.titre
                                else
                                    .etape-item
                                        p=etape.id
                                        .titre=etape.titre
                            else
                                if etape.id < user.etape_actuelle
                                    .etape-item.etape-item-done
                                        p=etape.id
                                        .titre=etape.titre
                                else
                                    .etape-item
                                        p=etape.id
                                        .titre=etape.titre
            