extends etape.pug

block etape_content
    .etape_content  
        p=question.question_libelle
        form(method='GET' action='/questions/validation')
            each i in question.question_options
                input(type="radio", value=i.id, id=i.id, name="answers", checked=false)
                label(for=i.id)=i.libelle
            button(type='submit') Valider