extends etape.pug

block etape_content
    style.
        body::before {
            width:0;
            height:0;
        }
        body{
                overflow-y:initial;
            }

    .etape_content  
        p=question.question_libelle
        form(method='GET' action='/questions/validation')
            if question.etape_id == 9 && question.id == 2
                each val in question.question_images 
                    img(src=val)
            else
                each i in question.question_options
                    if question.etape_id == 9
                        .radiogroup_check
                            input(type="checkbox", value=i.id, id=i.id, name="answers", checked=false)
                            label(for=i.id)
                                img(src=i.src)
                                p=i.libelle
                    else
                        .radiogroup
                            input(type="radio", value=i.id, id=i.id, name="answers", checked=false)
                            label(for=i.id)=i.libelle
            button(type='submit') Valider